#!/bin/bash
# Copyright Grupo Colav 2021

## Setting up the db users.
# All the values here are the default UDEA, please change it according to your university
export CVLAC_USER="UDEA_CV"
export GRUPLAC_USER="UDEA_GR"
export INSTITULAC_USER="UDEA_IN"

# Change this for the desire password
export ORACLE_PWD="colavudea"

# This is the path where you have the .dmp file, change it for the path where is located your dump file.
# by default if looking in your home in the folder dump
export DUMP_PATH="$HOME/dump"

# Dump/Log  files ex:
export DUMP_FILE="UDEA_20210304.dmp"
export DUMP_LOG_FILE="UDEA_20210304.log"

# Hunabku settings
export HUNABKU_PORT=8081
