#!/bin/bash
# Copyright Grupo Colav 2021

## Setting up the db users.
SIIU_USERS="USER1,USER2,USER3"
SIIU_USERS="$SIIU_USERS,USER4,USER5"
SIIU_USERS="$SIIU_USERS,USER6,...USERN"
export SIIU_USERS
export SIIU_TABLESPACES="TABLESPACE1,TABLESPACE2,...,TABLESPACEN"
# Change this for the desire password
export ORACLE_PWD="colavudea"

# This is the path where you have the .dmp file, change it for the path where is located your dump file.
# by default if looking in your home in the folder dump
export DUMP_PATH="$HOME/dump"

# Dump/Log  files ex:
export DUMP_FILES="SIIU1.dmp,SIIU2.dmp,...,SIIUN.dmp"
